<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HTTP GET & POST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-row>
      <ion-col>
        <ion-item> <ion-input type="text" [(ngModel)]="post.userId"></ion-input> </ion-item>
        <ion-item> <ion-input type="text" [(ngModel)]="post.title"></ion-input> </ion-item>
        <ion-item> <ion-input type="text" [(ngModel)]="post.body"></ion-input> </ion-item>
        <ion-button (click)="submit()">SIMPAN DATA</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let dPOST of dataPOST">
            {{dPOST.title}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row> -->
  </div>
</ion-content>
